html{
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat;
	background-position: center -380px;

}

.eyes{
	position: absolute;
	top: 280px;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.eye{
	width: 220px;
	height: 110px;
	background: #fff;
	display: inline-block;
	margin: 55px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.ball{
	width: 40px;
	height: 40px;
	background: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border: 15px solid #333;

	-webkit-animation-name: eyes;
	-webkit-animation-duration: 6s;
	-webkit-animation-delay: 2s;
}

@keyframes eyes{
	from{background: #000;}
	to {background: #cd2626;}
}